// Custom styles.
// .header-inner{
//   padding-bottom: 0px;

//   .site-meta {
//     margin: auto;
//     width: 100%;
//     text-align: center;
//     .site-subtitle {
//       display: block;
//     }
//   }
//   .menu {
//     float: none;
//     .menu-item{
//       padding-bottom: 5px;
//       width: calc(100%/5.5);
//       text-align: center;
//       .fa{
//       margin-right: 0px;
//       }
//     }
//     .menu-item-active {
//       border-bottom: 2px solid #555;
//     }
//   }
// }
.post-toc {
  .nav-number {
    display: none;

  }

}
